<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Guess the country!</title>
    <script src="https://get.mavo.io/stable/mavo.js"></script>
    <link rel="stylesheet" href="https://get.mavo.io/stable/mavo.css">
    <script type="module" src="https://shapir.org/mavo-shapir.js"></script>
    <link href="style.css" rel="stylesheet">
    <link rel="icon" href='data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><text y=".9em" font-size="90">🗺</text></svg>'>
</head>

<body mv-app="countries" mv-bar="none"
      mv-source="shapir" mv-source-service="wikidata" mv-init-language="en"
      mv-source-instance-of="country" mv-source-continent="[continent]" mv-source-numberOfItems="5">
    <header>
        <h1>Guess the country!</h1>

        <label>
            Continent:
            <select class="form-select" property="continent">
                <option selected>Europe</option>
                <!-- <option>South America</option>
                <option>North America</option>
                <option>Central America</option> -->
                <option>Asia</option>
                <option>Africa</option>
            </select>
        </label>
    </header>
    <main>
        <header>
            <h2 id="total-score">
                <svg viewBox="0 0 100 100">
                    <path d="M 0,50 a 50,50 0 1,1 0,.001" id="textpath"></path>
                    <text transform="rotate(-90,50,50)"><textPath startOffset="50%" href="#textpath">Total Score</textPath></text>
                </svg>
                <strong>[sum(score)]</strong>
            </h2>
        </header>
        <section id="current">
            <article property="items" mv-multiple class="country status-[status or 'playing'] tries-[tries]" style="--tries: [tries]" mv-if="$index = 0">
                <img property="flag" src="[last(flagImage)]" width="30%">
                <div class="info">
                    <form mv-action="set(tries, tries + 1), setif(guess = label, status, 'correct'), setif(guess != label and tries = 3, status, 'wrong')">
                        <label class="guess">
                            Can you guess which country this is?
                            <span class="answer">
                                <input property="guess" autofocus>
                                <button class="outlined-button check-answer" mv-if="!status">Check answer</button>
                                <button class="outlined-button next" mv-if="status" mv-action="move($item, if(status = 'correct', win, loss))">Next</button>
                                <button type="button" class="outlined-button give-up" mv-if="!status" mv-action="set(status, 'gaveup'), set(guess, label)">Give up</button>
                            </span>
                        </label>
                    </form>
                    <p class="status" mv-if="status or tries > 0" property="statusText">
                        [if(status = 'correct', "Yes! Guessed it correctly") ]
                        [if(status = 'wrong', "Could not guess it correctly") ]
                        [if(status = 'gaveup', "Gave up") ]
                        [if(!status, "Nope. Still guessing") ]
                        after [tries + 0] tries and [hintsDisplayed + 0] hints
                    </p>

                    <meta property="status" />
                    <meta property="hintsDisplayed" />
                    <meta property="tries" />

                    <p class="hint" property="highestPoint" mv-if="hintsDisplayed > 0">
                        Its highest Point is <span property="label"></span>.
                    </p>

                    <p class="hint" property="lowestPoint" mv-if="hintsDisplayed > 1">
                        Its lowest point is <span property="label"></span>.
                    </p>

                    <p class="hint" mv-if="hintsDisplayed > 2">
                        It’s a <span property="description"></span>.
                    </p>

                    <p class="hint" property="capital" mv-if="hintsDisplayed > 3">
                        Its capital is <span property="label"></span>.
                    </p>

                    <div class="score" property="score">[if (status = 'correct', 20 - hintsDisplayed - (tries - 1) * 3)]</div>

                    <footer>
                        <button class="show-hint" mv-action="set(hintsDisplayed, hintsDisplayed + 1)" mv-if="!status and hintsDisplayed < 4">Show hint</button>
                        <a class="read-more" href="[itemURL]" target="_blank" mv-if="status">Read more about [label] on Wikidata</a>
                    </footer>
                </div>
            </article>
        </section>
        <section id="results">
            <details id="correct-guesses" open>
                <summary>Guessed [count(win)] countries correctly</summary>
                <article property="win" mv-multiple class="country status-[status]" mv-initial-items="0">
                    <img property="flag">
                    <div class="info">
                        <h3 property="label"></h3>
                        <p class="status" mv-if="status" property="statusText"></p>
                        <div class="score" property="score"></div>
                    </div>
                </article>
            </details>
            <details id="wrong-guesses" open>
                <summary>Could not guess [count(loss)] countries </summary>
                <article property="loss" mv-multiple class="country status-[status]" mv-initial-items="0">
                    <img property="flag">
                    <div class="info">
                        <h3 property="label"></h3>
                        <p class="status" mv-if="status" property="statusText"></p>
                        <div class="score" property="score"></div>
                    </div>
                </article>
            </details>
        </section>
    </main>
</body>

</html>