<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Art Gallery</title>
    <script src="https://get.mavo.io/stable/mavo.js"></script>
    <link rel="stylesheet" href="https://get.mavo.io/stable/mavo.css">
    <script type="module" src="https://shapir.org/mavo-shapir.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body mv-app="main" mv-bar="none" mv-source="shapir" mv-source-service="wikidata" mv-source-language="en"
      mv-source-instance-of="painting" mv-source-creator="[term]" mv-source-numberOfItems="15">

    <header>
        <h1>Art Gallery</h1>

        <form class="search" mv-action="set(term, searchInput)">
            <label>Painter: <input type="search" class="form-control rounded" property="searchInput" value="Gustav Klimt" /></label>
            <meta property="term" mv-default="Gustav Klimt">
            <button class="btn btn-outline-dark">Search</button>
        </form>
    </header>
    <main id="paintings">
        <article class="painting" property="items" mv-multiple mv-if="image">
            <a href="[itemURL]" target="_blank">
                <img property="image" loading="lazy" />
                <div class="overlay">
                    <div class="info">
                        <meta property="collection" mv-alias="location" />
                        <meta property="width" />
                        <meta property="height" />
                        <meta property="title" />
                        <meta property="label" />
                        <h2>
                            <span property="name">[title or label]</span>
                            <span property="nameInNativeLanguage" mv-if="nameInNativeLanguage and nameInNativeLanguage != title"></span>
                        </h2>
                        <p class="description">
                            <span mv-if="count(madeFromMaterial) = 2">
                                [join(madeFromMaterial.label, " on ")],
                            </span>
                            <span>[year(first(inception))]</span>
                        </p>
                        <p class="location" mv-if="collection.label != label">[first(collection.label)]</p>
                    </div>
                </div>
            </a>
        </article>
    </main>

</body>

</html>