:root {
    --gray-hs: 200 10%;
    --page-width: clamp(80rem, 70vw, 120rem);
    --font-ui: system-ui, -apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-serif: Baskerville, Palatino Linotype, serif;
}

body {
    margin: 0;
    font: 100%/1.4 var(--font-ui);
}

input, button {
    all: unset;
    box-sizing: border-box;
    line-height: 1;
    border-radius: .2em;
    border: none;
}

input {
    padding: .4rem .5rem;
    background: hsl(0 0% 100% / .5);
    cursor: text;
}

    input:focus {
        background: white;
    }

button {
    padding: .4rem .7rem;
    font-size: 87.5%;
    background: hsl(var(--gray-hs) 85%);
    cursor: pointer;
}

    button:hover {
        background: hsl(var(--gray-hs) 75%);
    }

form.search {
    display: flex;
    margin: 0;
}

    form.search input[type=search] {
        display: inline-block;
        width: 10em;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        transition: .5s width;

    }

        form.search input[type=search]:focus {
            width: 20em;
        }

    form.search > button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

body > header,
main,
body > footer {
    padding: 0 max(1rem, 50vw - var(--page-width) / 2);
}

body > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
    background: hsl(var(--gray-hs) 90%);
}

    body > header > h1 {
        font-family: "Bodoni 72", var(--font-ui);
    }

    body > header > h1::before {
        content: "🖼 ";
        filter: saturate(50%);
    }

#paintings {
    columns: 5 300px;
    column-gap: .2rem;
}

.painting {
    position: relative;
    margin-bottom: .2rem;
    height: fit-content;
    overflow: hidden;
    transition-duration: .3s;
    min-height: 4em;
}

    .painting > a {
        display: block;
        transition-duration: inherit;
    }

    .painting img {
        display: block;
        width: 100%;
        aspect-ratio: var(--width) / var(--height);
        background: hsl(220 15% 70%);
    }

    .painting:nth-child(3n) img { background: hsl(30 15% 70%) }
    .painting:nth-child(5n) img { background: hsl(80 15% 70%) }
    .painting:nth-child(7n) img { background: hsl(280 15% 70%) }

    .painting:hover img {
        filter: blur(4px);
        transform: scale(1.2);
        transition-property: transform;
        transition-duration: inherit;
    }

    .painting .overlay {
        position: absolute;
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        background: radial-gradient(hsl(0 0% 0% / .4), hsl(0 0% 0% / .8));
        color: white;
        transition-property: all;
        transition-duration: inherit;
    }

    .painting .info {

    }

    .painting:not(:hover) .overlay {
        opacity: 0;
    }

    .painting .info h2 {
        font-size: 100%;
        margin: .5em 0;
        width: fit-content;
    }

    .painting .info p {
        margin: .5em 0;
        text-transform: capitalize;
        font-size: 87.5%;
    }

    .painting .info .description {
        font-family: var(--font-serif);
        font-style: italic;
        font-size: 110%;
    }